.about-me {
  --about-me-padding: var(--about-me-padding-mobile);
  --about-me-description-padding: var(--about-me-description-padding-mobile);

  padding: var(--about-me-padding);
}

.about-me__title {
  font-family: var(--h2-font);
  font-size: var(--h2-fontsize);
  text-align: center;
  font-weight: bold;
}

.about-me__description {
  padding: var(--about-me-description-padding);
  color: var(--col-txt-p);
}

.about-me__social-list {
  margin: 0 auto;
}

/* tablet or larger */

@media only screen and (min-width: 768px) {
  .about-me {
    --about-me-padding: var(--about-me-padding-tablet);
    --about-me-description-padding: var(--about-me-description-padding-tablet);

    --float-space-width: calc(50% + var(--page-delta-padding-tablet));
    --float-space-height: calc(
      var(--txt-lineheight) * (var(--h2-fontsize) + 4 * var(--txt-fontsize)) +
        var(--about-me-description-padding-top-tablet) +
        var(--about-me-padding-left-right-tablet)
    );

    box-shadow: var(--box-shadow);
    border: var(--box-border);
    border-radius: var(--box-radius);
  }

  .about-me__float-space {
    float: left;
    height: var(--float-space-height);
    width: var(--float-space-width);
  }
}

/* desktop or larger */
@media only screen and (min-width: 961px) {
  .about-me {
    --about-me-padding: var(--about-me-padding-desktop);
    --about-me-description-padding: var(--about-me-description-padding-desktop);

    display: flex;
    flex-direction: column;
  }

  .about-me__title {
    text-align: left;
  }

  .about-me__social-list {
    flex: 1;
    align-items: center;
    margin: 0 0 0 auto;
  }

  .about-me__float-space {
    float: none;
    height: 0;
    width: 0;
  }
}
