/* mobile first styles */

footer {
  --page-padding: var(--page-padding-mobile);
  --page-delta-padding: var(--page-delta-padding-mobile);

  display: grid;
  grid-template-areas:
    "contactMe"
    "portrait";
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(0, 1fr) minmax(0, 1fr);
}

footer .contact-me {
  grid-area: contactMe;
  padding: var(--page-padding);
}

footer .portrait {
  grid-area: portrait;

  width: 100%;

  /* make the height 0 to not affect the layout (row height), 
  and force min-height to100% to take the row height
  see: https://stackoverflow.com/questions/63726048/prevent-image-from-being-used-to-calculate-grid-row-height */
  height: 0;
  min-height: 100%;

  object-fit: cover;
}

/* mobile, horizontal */
@media only screen and (max-height: 550px) and (orientation: landscape) {
  footer {
    grid-template-areas: "contactMe portrait";
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(0, 1fr);
  }
}

/* tablet or larger */
@media only screen and (min-width: 767px) and (min-height: 551px) {
  footer {
    --page-padding: var(--page-padding-tablet);

    grid-template-areas: "contactMe portrait";
    grid-template-columns: 0.6fr 0.4fr;
    grid-auto-rows: minmax(0, 1fr);

    height: min-content;
    padding: var(--page-padding);
  }

  footer .contact-me {
    padding: 0;
  }
}

/* desktop or larger */
@media only screen and (min-width: 961px) and (orientation: landscape) and (min-height: 551px) {
  footer {
    --page-padding: var(--page-padding-desktop);

    grid-template-columns: 0.4fr 0.6fr;
  }
}
