html {
  background-color: var(--bg-col);
  color: var(--col-txt);
  font-family: var(--main-font), sans-serif;
  font-weight: 400;
  font-size: var(--txt-fontsize);
  line-height: var(--txt-lineheight);
}

*,
*:before,
*:after {
  font-family: inherit;
  font-size: inherit; /* 100% */
  line-height: inherit;
  color: inherit;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0 auto;
  min-height: 100vh; /*it is assumed the same for <html>*/
  min-height: 100dvh; /* if supported */
  height: 100%;

  width: 100%;
  /* or max-width -- this avoids horizontal scroll bars */

  touch-action: manipulation; /* disable double tap to zoom on some browsers*/
  /* user-select: none; */
}

/*****************************************************/

/* || Generic */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

header,
main,
footer {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

main {
  margin-top: 10vh;
  margin-bottom: 15vh;
}

main {
  flex: 1;
}

p {
  text-wrap: pretty; /*or balance */
}

ul,
ol {
  list-style: none;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  touch-action: none;
}

button {
  cursor: pointer;
}

/* when hover is supporte */
@media not all and (hover: none) {
  /* styles*/
}

/* tablet or larger, or landscape (vs portrait), 641px (phone), 961px (tablet) */
@media only screen and (min-width: 768px), (orientation: landscape) {
}

/* Customize scrollbars */
::-webkit-scrollbar {
  width: 4px; /* width of the entire scrollbar */
  height: 4px; /* height of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background: #888; /* color of the scroll thumb */
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scroll thumb on hover */
}
