@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Economica&display=swap");

:root {
  /* Colors (palette)*/
  --col-black: rgb(20, 20, 20);
  --col-white: rgb(255, 255, 255);
  --col-grey: rgb(150, 150, 150);

  --dark-purple: #191021;
  --indigo-dye: #294a6d;
  --cerulean: #37779a;
  --moonstone: #6aa0aa;
  --magenta-dye: #c02d74;

  --footer-linear-gradient: linear-gradient(
    210deg,
    var(--dark-purple),
    var(--indigo-dye),
    var(--cerulean),
    var(--moonstone)
  );

  --footer-linear-gradient-mobile: linear-gradient(
    210deg,
    var(--indigo-dye),
    var(--cerulean),
    var(--moonstone),
    var(--moonstone)
  );

  /* Colors (background)*/
  --bg-col: var(--col-white);

  /* Colors (text/icons)*/
  --col-txt: var(--col-black);
  --col-txt-alt: var(--col-white);
  --col-txt-p: var(--col-grey);

  /* Font family */
  --main-font: "Economica", sans-serif;
  --h1-font: "Economica", sans-serif;
  --h2-font: "Amatic SC", monospace;

  /* Font sizes */
  --txt-fontsize: max(18px, 3vmin);
  --txt-lineheight: 1.2;

  --h1-fontsize: 4rem;
  --h2-fontsize: 2rem;
  --h3-fontsize: 1.1rem;
  --project-description-fontsize: 0.8rem;

  --social-icons-size: 1.8rem;
  --project-icons-size: calc(var(--h3-fontsize) * var(--txt-lineheight));

  /* Maximum width (including dashboard margin) */
  --max-width: min(1440px, 100%);

  /*Margins, gaps and paddings (+widths)*/
  --social-icons-gap: 0.5rem;
  --my-work-title-gap: 1rem;
  --my-work-list-gap: 1.5rem;

  --project-info-padding: 1rem 0.5rem 0.5rem;
  --project-info-gap: 0.5rem;
  --project-icons-gap: 0;

  /* > mobile styles*/

  --page-padding-mobile: 1rem;
  --page-delta-padding-mobile: 1rem;
  --h1-padding-mobile: 0 var(--page-delta-padding-mobile)
    var(--page-delta-padding-mobile);

  --about-me-padding-mobile: 1rem 0;
  --about-me-padding-mobile-landscape: 0 1rem 0 2rem;
  --about-me-description-padding-mobile: 1rem 0;

  --my-work-padding-mobile: 0;
  --my-work-padding-mobile-landscape: 0;

  --my-work-ncol-mobile: 1;
  --my-work-ncol-mobile-landscape: 2;

  --contact-me-padding-mobile: 2rem var(--page-padding-mobile);
  --contact-me-padding-mobile-landscape: 2rem var(--page-padding-mobile);

  --contact-me-gap-mobile: 1.5rem;

  /* > tablet styles*/
  --page-padding-tablet: 1rem;
  --page-delta-padding-tablet: 1rem;
  --h1-padding-top-tablet: 5vh;
  --h1-padding-bottom-tablet: 3vh;
  --h1-padding-tablet: var(--h1-padding-top-tablet) 0
    var(--h1-padding-bottom-tablet);

  --about-me-padding-top-tablet: 3rem;
  --about-me-padding-left-right-tablet: 1rem;
  --about-me-padding-tablet: var(--about-me-padding-top-tablet)
    var(--about-me-padding-left-right-tablet) 3rem;

  --about-me-description-padding-top-tablet: 1rem;
  --about-me-description-padding-tablet: var(
      --about-me-description-padding-top-tablet
    )
    0 1rem;

  --my-work-padding-tablet: 0 var(--page-delta-padding-mobile);
  --my-work-ncol-tablet: 2;

  --contact-me-padding-tablet: 2rem 1rem 2rem 0;
  --contact-me-gap-tablet: 1.5rem;

  /* > desktop styles*/

  --page-padding-desktop: 2rem;
  --page-delta-padding-desktop: 2rem;
  --h1-padding-desktop: 0 var(--page-delta-padding-desktop)
    var(--page-delta-padding-desktop);

  --about-me-padding-left-right-desktop: 1rem;
  --about-me-padding-desktop: 3rem var(--about-me-padding-left-right-desktop)
    3rem
    calc(
      var(--about-me-padding-left-right-desktop) +
        var(--page-delta-padding-desktop)
    );
  --about-me-description-padding-desktop: 1rem 0 1rem;

  --my-work-padding-desktop: 0;
  --my-work-ncol-desktop: 3;

  --contact-me-padding-desktop: 2rem 1rem 2rem 0;
  --contact-me-gap-desktop: 1.5rem;

  /* Radius / borders */
  --box-border: max(2px, 0.3vmin) solid var(--col-black);
  --box-radius: max(6px, 0.9vmin);

  /* Shadows */
  --txt-shadow: 0 3px 6px var(--col-black);
  --box-shadow: 0 3px 9px var(--col-grey);
  --box-shadow-hover: 0 3px 9px var(--col-black);

  --box-scale-hover: 1.06;

  /* Animations on hover / active / ...*/
  /* --transition-time: 0.8s; */
}
