@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Economica&display=swap");

:root,
::backdrop {
  /* Colors (palette)*/
  --col-black: rgb(20, 20, 20);
  --col-white: rgb(255, 255, 255);
  --col-grey: rgb(150, 150, 150);

  /* Colors (background)*/
  --bg-col: var(--col-white);

  /* Colors (text/icons)*/
  --col-txt: var(--col-black);
  --col-txt-alt: var(--col-white);
  --col-txt-p: var(--col-grey);

  /* Font family */
  --main-font: "Economica", sans-serif;
  --h1-font: "Economica", sans-serif;
  --h2-font: "Amatic SC", monospace;

  /* Font sizes */
  --txt-fontsize: max(18px, 3vmin);
  --txt-lineheight: 1.2;

  --h1-fontsize: 4rem;
  --h2-fontsize: 2rem;
  --social-icons-size: 1.8rem;

  /* Maximum width (including dashboard margin) */
  --max-width: min(1440px, 100%);

  /*Margins, gaps and paddings (+widths)*/
  --social-icons-gap: 0.5rem;

  --page-padding-mobile: 1rem;
  --page-delta-padding-mobile: 1rem;
  --h1-padding-mobile: 0 var(--page-delta-padding-mobile)
    var(--page-delta-padding-mobile);

  --about-me-padding-mobile: 1rem 0;
  --about-me-description-padding-mobile: 1rem 0;

  /* Images / icons size */

  /* Shadows */
  --txt-shadow: 0 3px 6px var(--col-black);
  --box-shadow: 0 3px 10px var(--col-black);

  /* Animations on hover / active / ...*/
  /* --transition-time: 0.8s; */
}

html {
  background-color: var(--bg-col);
  color: var(--col-txt);
  font-family: var(--main-font), sans-serif;
  font-weight: 400;
  font-size: var(--txt-fontsize);
  line-height: var(--txt-lineheight);
}

*,
*:before,
*:after {
  font-family: inherit;
  font-size: inherit; /* 100% */
  line-height: inherit;
  color: inherit;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0 auto;
  min-height: 100vh; /*it is assumed the same for <html>*/
  min-height: 100dvh; /* if supported */
  height: 100%;

  width: 100%;
  /* or max-width -- this avoids horizontal scroll bars */

  touch-action: manipulation; /* disable double tap to zoom on some browsers*/
  /* user-select: none; */
}

/*****************************************************/

/* || Generic */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

header,
main,
footer {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

main {
  flex: 1;
}

p {
  text-wrap: pretty; /*or balance */
}

ul,
ol {
  list-style: none;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  touch-action: none;
}

button {
  cursor: pointer;
}

/* when hover is supporte */
@media not all and (hover: none) {
  /* styles*/
}

/* tablet or larger, or landscape (vs portrait), 641px (phone), 961px (tablet) */
@media only screen and (min-width: 768px), (orientation: landscape) {
}

/* Customize scrollbars */
::-webkit-scrollbar {
  width: 4px; /* width of the entire scrollbar */
  height: 4px; /* height of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background: #888; /* color of the scroll thumb */
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scroll thumb on hover */
}
